@model smart_home_web.Models.Dashboard.DashboardViewModel;

<form asp-action="Create" asp-controller="Dashboard" method="post">
    <div asp-validation-summary="All" class="text-danger text-center" style="margin-top:10px;"></div>

    <div class="form-group">
        <p>
            <input asp-for="Name" type="text" name="Name" placeholder="Enter name" size="14" maxlength="40" required />
        </p>
    </div>
    <div class="form-group">
        <p><input type="submit" class="btn btn-success" value="Add" /></p>
    </div>
</form>