@using smart_home_web.Models.Dashboard;


@model DashboardIndexViewModel;


<div class="row dash_create justify-content-center">
    <div>
        <a class="btn btn-success text-uppercase" data-toggle="collapse" data-target="#demo">
            <span class="glyphicon glyphicon-plus-sign"></span> Add dashboard
        </a>
        <br />
        <br />
        <div  id="demo" class="collapse">
            <form action="/" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input name="name" value="Enter name" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" name="name" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<h2 class="text-center">List of dashboards</h2>
<div class="row justify-content-center" style="margin-top:40px;">
    
    <div class="d-flex justify-content-center flex-wrap aligh-content-center">
        @foreach (var dashboard in Model.Dashboards)
        {
            <div class="border">
                @await Component.InvokeAsync("Dashboard", new { model = dashboard });
            </div>
        }
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".dash_remove").click(function () {
            let id = $(this).data("dash-id");
            if (confirm("Are you sure?" + id)) {

                alert(true);
                $.ajax({
                    url: $(this).data("dash_url"),
                    data: { id: id },
                    error: function (result) {
                        console.log(result);
                    },
                })
            }
        });

        $(".dash_edit").click(function () {
            let id = $(this).data("dash-id");
            alert("edit " + id);
        });

        $(".dash_create").click(function () {

        });
        $("#dash_create_button").click(function () {
            $("#dash_create_input").toggle();
        });
    });

</script>