@using smart_home_web.Models.Dashboard;


@model DashboardIndexViewModel;


<div class="row justify-content-center">
    <div>
        <div>
            <a class="btn btn-success text-light text-uppercase center-block"
               data-toggle="collapse" data-target="#demo">
                <span class="glyphicon glyphicon-plus-sign"></span> Add dashboard
            </a>
            
        </div>
        <div id="demo" class="collapse">
            <br />
            <form asp-action="Create" asp-controller="Dashboard" method="post" class="text-center">
                <div class="form-group">
                    <label>Dashboard name</label>
                    <input name="name" value="Enter name" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" name="name" value="Add" class="btn btn-primary dash_create" />
                </div>
            </form>
        </div>
    </div>
</div>
<h2 class="text-center">List of dashboards</h2>
<div class="row justify-content-center" style="margin-top:40px;">
    
    <div class="d-flex justify-content-center flex-wrap aligh-content-center" id="dashboards">
        @if (!Model.Dashboards.Any())
        {
            <h2>No dashboards</h2>
        }
        else
        {
            @foreach (var dashboard in Model.Dashboards)
            {
                <div class="border m-2 dash_element" data-dash-id="@dashboard.Id.ToString()">
                    @await Component.InvokeAsync("Dashboard", new { model = dashboard });
                </div>
            }
        }

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {


        $(".dash_remove", ".dash_element").click(function () {
            let parent = $(this).closest(".dash_element");
            let id = parent.data("dash-id");
            if (confirm("Are you sure?" + id)) {
                $.ajax({
                    url: $(this).data("dash-url"),
                    data: { id: id },
                    beforeSend: function () {
                        parent.hide(800, function () {
                            parent.remove();
                        })
                        return true;
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    success: function () {
                        if ($('#dashboards').children().length == 0) {
                            $('#dashboards').append("<h2>No dashboards</h2>");
                        }
                    }
                })
            }
        });

        $(".dash_create", ".dash-element").submit(function () {


        })

        $(".dash_edit",".dash_element").click(function () {
            let id = $(this).closest(".dash_element").data("dash-id");
            alert("edit " + id);
        });
    });
</script>