@using smart_home_web.Models.Dashboard;


@model DashboardIndexViewModel;

<style>
    #demo {
        -webkit-transition: width 1.5s ease;
        -moz-transition: width 1.5s ease;
        -o-transition: width 1.5s ease;
        transition: width 1.5s ease;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
        line-height: 30px;
        height: 40px;
        width: 0px;
    }

        #demo.in {
            width: 320px;
        }
</style>

<div class="row">
    <div class="col">

        <a class="btn btn-success text-light text-uppercase"
           data-toggle="toggle" data-target="#demo" id="dash_create_button">
            <span class="glyphicon glyphicon-plus-sign"></span> Add dashboard
        </a>

        <div id="demo" class="collapse mr-2">
            <form data-dash-url="@Url.Action("Create","Dashboard")" method="post" id="dash_create">
                <p>
                    <input id="form_dash_name" placeholder="Enter name" size="14" maxlength="40" required />
                    <input type="submit" value="Add" class="btn btn-primary" />
                </p>

            </form>
        </div>

    </div>
</div>
<div class="row justify-content-center" style="margin-top:40px;">

    <div class="d-flex justify-content-center flex-wrap aligh-content-center" id="dashboards">
      


            @foreach (var dashboard in Model.Dashboards)
            {
                <div class="border m-2 dash_element">
                    @await Component.InvokeAsync("Dashboard", new { model = dashboard })
                </div>
            }


    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {

        $(".dash_name_edit").hide();

        $("#no_dashboards").hide();
        $("[data-toggle='toggle']").click(function () {
            var selector = $(this).data("target");
            $(selector).toggleClass('in');
        });

        $("#dash_create").submit(function (event) {
            event.preventDefault();
            let name_value = $("#form_dash_name").val();

            $.ajax({
                url: $(this).data("dash-url"),
                data: { name: name_value },
                success: function (data) {
                    $('#dashboards').prepend("<div  class='border m-2 dash_element' >" + data + "</div>");
                    $("#form_dash_name").val("");
                },
                type:"POST"
            })

        });

        $(".dash_remove", ".dash_element").click(function () {
            let parent = $(this).closest(".dash_element");
            let id = parent.children().data("dash-id");
            console.log(id);
            if (confirm("Are you sure?" + id)) {
                $.ajax({
                    url: $(this).data("dash-url"),
                    data: { id: id },
                    beforeSend: function () {
                        parent.hide(800, function () {
                            parent.remove();
                        })
                        return true;
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    success: function () {
                        //alert($('#dashboards').children(".dash_element").length);

                    }
                })
            }
        });

        $(".dash_icon", ".dash_element").click(function () {
            let parent = $(this).closest(".dash_element");
            parent.find(".dash_name_edit").show();
            parent.find(".dash_name").hide();
        });

        $(".dash_edit", ".dash_element").click(function () {
            let parent = $(this).closest(".dash_element");
            let form = parent.find(".form_edit_name");
            let name_value = form.find(".form_dash_name").val();
            let id_value = parent.find(".dash_id").data("dash - id");

            $.ajax({
                url: form.data("dash-url"),
                data: { name: name_value, id: id_value },
                beforeSend: function () {
                    parent.find(".name_header").text(name_value);
                    parent.find(".dash_name_edit").hide();
                    parent.find(".dash_name").show();
                },
                error: function (res) {
                    console.log(res);
                },
                type:"POST"
            })
        })


    });
</script>