@using smart_home_web.Models.Dashboard;
@model DashboardIndexViewModel;
@{
    ViewData["Title"] = "Dashboards";
}

@*WRAPPER*@
<div class="app-main">
    <div class="app-main__outer">
        <div class="app-inner-layout app-inner-layout-page">
            <div class="app-inner-layout__wrapper">
                <div class="app-inner-layout__content">
                    @*BODY*@
                    <div class="row tab-content">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="d-flex justify-content-center flex-wrap aligh-content-center all-elements-container">

                                    @foreach (var item in Model.Dashboards)
                                    {
                                        @await Component.InvokeAsync("DashboardElement", item)
                                    }
                                </div>
                            </div>
                            @*NEW DASHBOARD CREATING*@
                            <div class="d-flex justify-content-center">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="button-center">
                                        <a class="btn btn-success element-create" onclick="ElementCreate()">
                                            <i class="fas fa-plus-circle"> </i> Add new dashboard
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Modals", "Dashboard")
