@using smart_home_web.Models.Dashboard;
@model DashboardIndexViewModel;
@{
    ViewData["Title"] = "Dashboards";
}


<div class="app-main">
    <div class="app-main__outer">
        <div class="app-main__inner">
            @*NEW DASHBOARD CREATING*@
            @if (User.Identity.IsAuthenticated)
            {

            <div class="app-header header-button-move-up">
                <div class="page-title-heading">
                    <a class="btn btn-primary text-white w-auto element-create"  onclick="ElementCreate()">
                        <span class="glyphicon glyphicon-plus-sign"></span> Add dashboard
                    </a>                   
                </div>
            </div>

            }
            <div class="app-inner-layout app-inner-layout-page">
                <div class="app-inner-layout__wrapper">
                    <div class="app-inner-layout__content pt-1">
                        <div class="tab-content">
                            <div class="container-fluid">

                                <div class="row">

                                    @*<div id="no_dashboards" class="hidden">
                                            <h2>No public dashboards.</h2>
                                        </div>*@

                                    <div class="d-flex flex-wrap all-elements-container" >

                                        @foreach (var dashboard in Model.Dashboards)
                                        {
                                            
                                                @await Component.InvokeAsync("DashboardElement", new { model = dashboard })
                                            
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

@await Component.InvokeAsync("Modals", "Dashboard")