@model smart_home_web.Models.History.AllHistoriesViewModel
@using Infrastructure.Business.DTOs;
@using Domain.Core.Model.Enums;

<div class="text-center d-flex flex-column align-items-center">
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach(var history in Model.Histories)
            {
            <tr>
                <td>@history.SensorName</td>
                @{
                    if (history.Value.ToString() == "False")
                    {
                        <td>Inactive</td>
                    }
                    else if (history.Value.ToString() == "True")
                    {
                        <td>Active</td>
                    }
                    else
                    {
                        <td>@history.Value</td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
    <div>
        <br />
        @await Component.InvokeAsync("Pagination", new { action = "Index", controller = "History", filterDto = Model.FilterDto })
    </div>

</div>