@model smart_home_web.Models.ReportElements.ReportElementViewModel;

<div class="text-center d-flex flex-column align-items-center">
    <table class="table table-hover table-responsive">
        <thead class="text-center">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @if (!Model.Dates.Any())
            {
                <tr>
                    <td colspan="2">No Values</td>
                </tr>
            }
            else
            {
                @for (int i = 0; i < Model.Dates.Count(); i++)
                {
                    <tr>
                        <td> @Model.Dates[i] </td>
                        <td> @Model.Values[i] </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>