@using smart_home_web.Models;
@model ForgotPasswordViewModel

<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="d-none d-lg-block col-lg-4">
                    <div class="slick-slider">
                        <div>
                            <div class="h-100 d-flex justify-content-center align-items-center" tabindex="-1">
                                <div class="slide-img-bg opacity-10" style="background-image: url('/assets/images/originals/citynights.jpg');"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <div class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6">
                        <div class="app-logo"></div>
                        <h4>
                            <div>Forgot your Password?</div>
                        </h4>
                        <div>
                            <form method="post">
                                <div class="form-row">
                                    <div class="col-md-12" asp-validation-summary="All">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">
                                                Email
                                            </label>
                                            <input asp-for="Email" type="email" class="form-control" id="email" name="email" value="" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="mt-4 d-flex align-items-center">
                                        <div class="ml-auto">
                                            <button type="submit" value="submit" class="btn btn-primary btn-lg">
                                                Recover Password
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <h6 class="mb-0"><a class="text-primary" asp-controller="Account" asp-action="Login">Sign in existing account</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}