<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="d-none d-lg-block col-lg-4">
                    <div class="slick-slider">
                        <div>
                            <div class="h-100 d-flex justify-content-center align-items-center" tabindex="-1">
                                <div class="slide-img-bg opacity-10" style="background-image: url('/assets/images/originals/citynights.jpg');"></div>
                                <div class="slider-content text-white" style="text-shadow: 0px 0px 3px #343a40;">
                                    <h3>Complex, but lightweight</h3>
                                    <p class="opacity-10">We've included a lot of components that cover almost all use cases for any type of application.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <div class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6">
                        <div class="app-logo"></div>
                        <h4>
                            <div> We have sent you an email to reset your password.</div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>