@using smart_home_web.Models.ControlSensor;
@model AddSensorControlViewModel;


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form asp-action="Add" asp-controller="SensorControl" role="form">
                <h2 class="text-center">Add SensorControl</h2>
                <hr class="colorgraph">
                <div class="form-group">
                    <input asp-for="Name" class="form-control input-lg" placeholder="Name" tabindex="3">
                </div>
                <div class="form-group">
                    <select id="type-select" asp-for="ControlId" asp-items="@ViewBag.modelControlSensors" class="form-control">
                        <option value="">
                            Select an ControlSensor
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="sensorid" asp-for="SensorId" asp-items="@ViewBag.modelSensors" class="form-control">
                        <option value="">
                            Select an Sensor
                        </option>
                    </select>
                </div>
                <div class="row" id="hide">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="minValue" class="form-control input-lg" placeholder="Min" tabindex="5">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="maxValue" class="form-control input-lg" placeholder="Max" tabindex="6">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success text-center center-block" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
}