@using smart_home_web.Models.History;
@using Infrastructure.Business.DTOs;
@using Domain.Core.Model.Enums;


@model AllHistoriesViewModel;


@{
    ViewData["Title"] = "Histories";
}

<body class="body-content">
    @*filters*@
    <div class="text-center">
        Invalid sensors <input type="checkbox" id="checkboxInvalidSensors" />
    </div>
    <br />
    <div id="table_data">
        @await Component.InvokeAsync("History", new { model = Model })
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
        $(function () {
            $("#checkboxInvalidSensors").click(function () {
                UpdateHistoryTable();
            });

            function UpdateHistoryTable() {
                $.ajax({
                    url:"@Url.Action("UpdateHistoryTable", "History")",
                    data: {
                        FilterDTO: JSON.parse('@Html.Raw(Json.Serialize(@Model.FilterDto))'),
                        isActivated: $("#checkboxInvalidSensors").prop('checked'),
                        onlyLast: $("#checkboxLastValues").prop('checked')
                    },
                    error: function (res) {
                        console.log(res);
                    },
                    success: function (data) {
                        $("#table_data").html(data);
                    }
                });
            }
        });



    </script>
</body>