@model IEnumerable<smart_home_web.Models.SensorType.SensorTypeViewModel>

@{
    ViewData["Title"] = "SensorTypes";
}

<div class="app-main">
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-header header-button-move-up">
                <div class="page-title-heading">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="button-center">
                            <a class="mb-2 mr-2 btn btn-primary text-white element-create"
                               onclick="ElementCreate()">
                                Add new sensor type
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="app-inner-layout app-inner-layout-page">
                <div class="app-inner-layout__wrapper">
                    <div class="app-inner-layout__content" style="padding-top: 0px">
                        <div class="tab-content">
                            <div class="container-fluid">
                                <div class="main-card mb-3 card">
                                    <ul class="list-group list-group-flush all-elements-container">

                                        @foreach (var item in Model)
                                         {
                                            @await Component.InvokeAsync("SensorTypeElement", item)
                                         }

                                    </ul>
                                </div>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Modals", "Sensor Type")
