@model smart_home_web.Models.ReportElements.ReportElementViewModel;

@if (Model.IsCorrect)
{
    <div class="row" data-save-url="@Url.Action("SetActive", "Sensor")" style="margin:50px">
        <label class="graph-title" style="width:100%; text-align:left">Sensor : @Model.SensorName</label>
        <label class="rocker text-center">
            <input id=@("OnOff" + Model.Id.ToString()) data-save-sensorid="@Model.SensorId" type="checkbox" @Html.Raw(Model.IsActive ? "checked" : " ")>
            <span class="switch-left">On</span>
            <span class="switch-right">Off</span>
        </label>
    </div>
}
else
{
    <label class="control-label graph-label">There is no such sensor.</label>
}
<script>
    $('input[id^="OnOff"]').click(function () {
        $.ajax({
            type: 'Post',
            url: $(".row").data("save-url"),
            data: { id: $(this).data("save-sensorid") },
            success: function () {
                console.log('changed');
            }
        });
    });

</script>