@using Domain.Core.Model;
@using Microsoft.AspNetCore.Identity
@using smart_home_web.Models;


@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form>
        <ul class="navbar-nav navbar-right" id="navbarColor01">
            @*TODO: After notification completing*@

            @*<li class="nav-item increase-padding">
                <a class="nav-link" asp-area="" asp-controller="Notification" asp-action="Index">
                    <div class="notification-icon">
                        <span style="font-size:20px"><i class="far fa-bell"></i></span>
                        <span class="badge" id="ntCnt"></span>
                    </div>
                </a>
            </li>*@
            <li class="nav-item increase-padding">
                <a class="nav-link" asp-page="/Account/Manage/Index" title="Manage">Hello, @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item increase-padding">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </form>
}

else
{
    <ul class="navbar-nav navbar-right" id="navbarColor01">
        <li class="nav-item increase-padding">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item increase-padding">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}
