@using Infrastructure.Business.DTOs;
@model Infrastructure.Business.DTOs.FilterDTO;


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model != null)
        {
            
                <li class="page-item">
                    @{
                        var prev = (FilterDTO)Model.Clone();
                        prev.CurrentPage = Model.CurrentPage - 1;
                        string state = Model.HasNext ? "active" : "disabled";
                    }

                    @Html.ActionLink("Previous", (string)ViewData["Action"], (string)ViewData["Controller"],
                    prev, new { @class=state })
                </li>

            @for (var i = 1; i <= Model.PagesCount; i++)
            {
                var page_i = (FilterDTO)Model.Clone();
                page_i.CurrentPage = i;

                <li class="page-item @( i == Model.CurrentPage ? "active" : "")">
                    @Html.ActionLink(i.ToString(), (string)ViewData["Action"], (string)ViewData["Controller"], page_i)
                </li>
            }
            @if (Model.HasNext)
            {
                <li class="page-item">
                    @{
                        var next = (FilterDTO)Model.Clone();
                        next.CurrentPage = Model.CurrentPage + 1;
                    }

                    @Html.ActionLink("Next", (string)ViewData["Action"], (string)ViewData["Controller"], next)
                </li>
            }
        }
    </ul>
</nav>
