@model smart_home_web.Models.SensorViewModel.SensorViewModel

@{
    ViewData["Title"] = "Delete";
}

@if (Model != null)
{
    <h2>Are you sure?</h2>
    <h5>I mean... give him another chance...</h5>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="SensorTypeName" class="control-label">Type</label>
                    <input asp-for="SensorTypeName" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="IconPath" class="control-label">Icon: </label>
                    <img src="@Model.IconPath" class="img-rounded" width="64" height="64"/>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.IconId" type="hidden" />
                    <input asp-for="@Model.SensorTypeId" type="hidden" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>

}
else
{
    <h2>Error: this sensor doesn't exists!</h2>

}
<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-back"></i>Back to List</a>
</div>


@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}